apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: $APP_NAME-sandbox
  namespace: chain-sandbox
spec:
  replicas: 3
  selector:
    matchLabels:
      app: $APP_NAME-sandbox
  template:
    metadata:
      labels:
        app: $APP_NAME-sandbox
    spec:
      containers:
      - name: $APP_NAME-sandbox
        command: [ "/bin/bash" ]
        args: [ "-c","cp -R /root/.fetchd/${hostname}  /data/blocks/demo/${hostname}/;
        if [[${hostname} -eq node0]] then 
          fetchd start  --json-rpc.api eth,txpool,personal,net,debug,web3,miner --api.enable true --minimum-gas-prices 0.0001afet  --home /data/blocks/demo/${hostname} --rpc.laddr tcp://0.0.0.0:26657
        else 
          fetchd start  --json-rpc.api eth,txpool,personal,net,debug,web3,miner --api.enable true --minimum-gas-prices 0.0001afet  --home /data/blocks/demo/${hostname} --rpc.laddr tcp://0.0.0.0:26657 --p2p.seeds 1dcc387039009040566c07ccbe58c0b2349f14de@chain-demo-node-0-sandbox.chain-sandbox.svc.cluster.local:26656
        fi
        "]
        image:  $REGISTRY/$APP_NAME:SNAPSHOT-$BUILD_NUMBER
        resources:
          requests:
            cpu: 1
            memory: 3Gi
          limits:
            cpu: 2
            memory: 4Gi
        volumeMounts:
        - name: host-time
          mountPath: /etc/localtime
        - name: data
          mountPath: /data/blocks
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 1317
          - containerPort: 8545
          - containerPort: 26657
          - containerPort: 26656
        env:
          - name: TZ
            value: GMT
      imagePullSecrets:
      - name: regcred
      restartPolicy: Always
      dnsPolicy: ClusterFirst
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - $APP_NAME-sandbox
              topologyKey: "kubernetes.io/hostname"
  volumeClaimTemplates:
    metadata:
      name: data
    spec:
      accessModes:
        - “ReadWriteOnce”
      storageClassName: mvmchain-local-storage
      resources:
        requests:
          storage: 10Gi